reset
#:set filetype=sh
echo "[SHLVL] $SHLVL"
set +o nounset
shopt -s expand_aliases
###################################must
source $dir_root/env.cfg
source $dir_root/struct.cfg
###################################before dev
source $dir_root/CFG/colors.cfg
source $dir_root/CFG/test_single.cfg


where_am_i () 
{ 
    local file=${1:-"${BASH_SOURCE[1]}"};
    local rpath=$(readlink -m $file);
    local rcommand=${rpath##*/};
    local str_res=${rpath%/*};
    local dir_self="$( cd $str_res  && pwd )";
    echo "$dir_self"
}

export -f where_am_i
################################### env ################################\

    dir_self=`where_am_i $BASH_SOURCE`
filename=`basename $BASH_SOURCE`
file_self=$dir_self/$filename

#export dir_root=$dir_self
#source $dir_self/struct.cfg
#bash -c $dir_self/next.sh



#source $dir_root0/CFG/list.cfg


cmd="source $dir_root/STEPS/steps.cfg"
eval "$cmd"


echo "[type] cdroot"
set +e
set +o  nounset
